@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
html{
	background-color:aquamarine;
}
header {
	background-color: #336633;
}
h1 {
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}
main {
	width: 800px;
	margin: 20px auto;
}
img{
	padding: 10px;
	max-width: 190px;
	max-height: 150px;
}
.text{
	font-size: 20px;
}
.buttonArea {
	margin-top: 10px;
	margin-bottom: 10px;
}
.grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 2px;
	column-gap: 2px;
}
.item{
	border:solid 1px #000000;
	text-align: left;
	width: 200px;
	padding: auto;
}
.image{
	display: flex;
	justify-content: center;
}

@media (max-width: 800px) {
	* {
		margin: 0;
		padding: 0;
	}
	html{
		background-color:aquamarine;
	}
	header {
		width: 100vw;
		background-color: #336633;
	}
	h1 {
		color: #ffffff;
		font-size: 10vw;
		padding-top: 20px;
		padding-bottom: 10px;
		text-align: center;
	}
	main {
		font-size: 3vw;
		width: 100vw;
		margin: 20px auto;
	}
	img{
		max-width: 190px;
		max-height: 150px;
	}
	.text{
		font-size: 5vw;
	}
	.buttonArea {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.grid{
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 2px;
		column-gap: 2px;
	}
	.item{
		border:solid 1px #000000;
		width: 100vw;
		text-align: left;
		padding: auto;
	}
	.image{
		display: flex;
		justify-content:center;
	}
}